<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>_BUILD_</string>
	<key>CFBundleShortVersionString</key>
	<string>_VERSION_</string>
	<key>CFBundleVersion</key>
	<string>_VERSION_</string>
	<key>ProjectName</key>
	<string>VPExConnectionManager</string>
	<key>SourceVersion</key>
	<string>2350000</string>
</dict>
</plist>
