#include <wx/msw/wx.rc>
#include "winuser.h"
1 RT_MANIFEST  VPExConnectionManager.exe.manifest
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "XOware, Inc."
      VALUE "FileDescription", "VPEx Connection Manager"
      VALUE "FileVersion", "0.1 alpha"
      VALUE "InternalName", "VPExConnectionManager"
      VALUE "LegalCopyright", "XOware, Inc."
      VALUE "OriginalFilename", "VPExConnectionManager.exe"
      VALUE "ProductName", "VPEx Connection Manager"
      VALUE "ProductVersion", "0.1 alpha"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

id ICON "vpex.ico"
wxicon icon vpex.ico
