<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xoware.vpexconnectionmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="MyApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            
            <!-- Launcher icon -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Download *.vpx files via http or https -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.vpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.vpx" />
            </intent-filter>

            <!-- Download application/x-vpex-configuration-file type files via http or https -->
                        <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="application/x-vpex-configuration-file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:mimeType="application/x-vpex-configuration-file" />
            </intent-filter>
                        
            <!-- Feeble attempt at working around browser brokenness when registering on XO1 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="*/*" />
                <data android:pathPrefix="/vpex/bin_vpn_register" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="192.168.1.251" />
                <data android:pathPrefix="/vpex/bin_vpn_register.fcgi" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="192.168.1.251" />
                <data android:pathPrefix="/vpex/bin_vpn_register.fcgi" />
            </intent-filter>
            
            <!-- Launch via vpex:// urls -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="vpex" />
                <data android:host="*" />
            </intent-filter>

            <!--  Launch via NFC tags -->
            <intent-filter>
            <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="vpex" />
            </intent-filter>

            <!-- Launch .vpex files (e.g. via file managers) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:pathPattern=".*\\.vpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.vpx" />
            </intent-filter>
            
            <!--
            this is unreliable
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:label="@string/titlePrefs"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ConnectionListActivity"
            android:label="@string/title_connection_list"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ConnectionDetailActivity"
            android:label="@string/title_connection_detail"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConnectionListActivity" />
        </activity>
        <activity
            android:name=".NFCWriteActivity"
            android:label="@string/title_activity_nfcwrite"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConnectionDetailActivity" />
        </activity>
<!--
        <service
            android:name=".VPExService"
            android:permission="android.permission.BIND_VPN_SERVICE" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <receiver android:name=".OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
-->
    </application>

</manifest>
