<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>XOkey.NetworkConfigTool</string>
	<key>StandardOutPath</key>
	<string>/Users/Shared/XOkey.log</string>
	<key>MachServices</key>
	<dict>
		<key>XOkey.NetworkConfigTool</key>
		<true/>
	</dict>
</dict>
</plist>
