<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="XOkey_Host_Application" Language="1033" Version="!(bind.FileVersion.$(var.EK_App.TargetFileName))" Manufacturer="x.o.ware, Inc." UpgradeCode="6b60c82d-4722-441f-a573-70765a1af96a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  InstallPrivileges="elevated" />


    <!-- HowTo http://wixtoolset.org/documentation/manual/v3/howtos/updates/major_upgrade.html -->
    <MajorUpgrade AllowDowngrades="no" 
                  Schedule="afterInstallInitialize" AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <!--
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>

    <Upgrade Id="6b60c82d-4722-441f-a573-70765a1af96a">
      <UpgradeVersion
         Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
-->


    <Feature Id="ProductFeature" Title="XOkey Host Application Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="localesComponent" />
      <ComponentGroupRef Id="ResourceComponent" />  
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ProgramMenuDir"/>
		</Feature>

    <Property Id="VC2012REDIST">
      <RegistrySearch Id="VC2012"
                      Root="HKLM"
                      Key="HKLM\SOFTWARE\Microsoft\DevDiv\VC\Servicing\11.0"
               Name="Install"
                      Type="raw" />
    </Property>
     <InstallExecuteSequence>
      <Custom Action='AddStartupTask'    After='InstallFinalize'>NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
  <!--       <Custom Action="DeleteStartupTask" Before='InstallFinalize'>
          Installed AND NOT UPGRADINGPRODUCTCODE</Custom> -->

       <ScheduleReboot After="InstallFinalize"/>
     </InstallExecuteSequence>
   <CustomAction Id='AddStartupTask' Directory='INSTALLFOLDER' PatchUninstall='no'  ExeCommand='[SystemFolder]cmd.exe /C &quot;start /B XOkey_App.exe&quot;' Return='asyncNoWait' /> 
 <!--   <CustomAction Id='DeleteStartupTask' Directory='TARGETDIR' Execute='deferred' Impersonate='no'  ExeCommand='&quot;[SystemFolder]SCHTASKS.EXE&quot; /delete /F /TN XOkey ;' Return='ignore' />

 <CustomAction Id='AddStartupTask' Directory='INSTALLFOLDER'   ExeCommand='[SystemFolder]cmd.exe /C &quot;start /B XOkey_App.exe&quot;' Return='asyncNoWait' /> 

 <CustomAction Id='AddStartupTask' Directory='TARGETDIR' Execute='deferred' Impersonate='no'  ExeCommand='&quot;[SystemFolder]SCHTASKS.EXE&quot; /create /F /sc onlogon /tn XOkey /rl highest /tr  &quot;\&quot;[INSTALLFOLDER]XOkey_App.exe&quot;\&quot;  /RU &quot;NT Authority\System&quot;' Return='check' />  
 <CustomAction Id='AddStartupTask' Directory='TARGETDIR' Execute='deferred' Impersonate='no'  ExeCommand='&quot;[SystemFolder]SCHTASKS.EXE&quot; /create /F /sc onlogon /tn XOkey /rl highest /TR &quot;[SystemFolder]calc.exe&quot;  /RU &quot;NT Authority\System&quot;' Return='check' />
-->
	</Product>


	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SystemFolder" Name="SystemFolder" />
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="XoWare">
          <Directory Id="localesFolder" Name="locales" />
          <Directory Id="ResourcesFolder" Name="Resources" />
        </Directory>
			</Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop" />

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ApplicationProgramsFolder" Name="XOkey">
          <Component Id="ProgramMenuDir" Guid="{3D998B2D-77FC-4483-8223-30F89E7D7A51}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\XOkey"
                           Type="integer" Value="1" Name="installed" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
 
    </Directory>
	</Fragment>
  <Fragment>
   
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="XOkey_App.exe" Guid="{B6AD8A3B-ADAE-4C93-8DF2-12B489E22D8A}">
        <File Source="$(var.EK_App.TargetPath)"  />
        <Shortcut Id="desktopShortcut" Advertise="yes" Directory="DesktopFolder"
                    Name="XOkey" WorkingDirectory="INSTALLFOLDER"
                    Icon="icon1.exe" IconIndex="0">
          <Icon Id="icon1.exe" SourceFile="$(var.EK_App.TargetPath)" />
        </Shortcut>
        <Shortcut Id="startMenuShotcut" Directory="ApplicationProgramsFolder"
                  Name="XOkey" WorkingDirectory="INSTALLFOLDER"
                  Icon="icon2.exe" IconIndex="0" Advertise="yes">
            <Icon Id="icon2.exe" SourceFile="$(var.EK_App.TargetPath)" />
        </Shortcut>
      </Component>
		  <Component Id="ProductComponent" Guid="{D326B7F1-2339-404F-A47E-4239C2291901}">
				<!-- TODO: Insert files, registry keys, and other resources here. -->
        <!--
        <File Source="$(var.EK_App.ProjectDir)/avcodec-54.dll" />
        <File Source="$(var.EK_App.ProjectDir)/avformat-54.dll" />
        <File Source="$(var.EK_App.ProjectDir)/avutil-51.dll" /> -->

        <File Source="$(var.EK_App.TargetDir)\cef.pak" />
        <File Source="$(var.EK_App.TargetDir)\CefSharp.dll" /> 
        <File Source="$(var.EK_App.TargetDir)\CefSharp.core.dll" />
        <File Source="$(var.EK_App.TargetDir)\CefSharp.example.dll" />
        <File Source="$(var.EK_App.TargetDir)\CefSharp.wpf.dll" />
        <File Source="$(var.EK_App.TargetDir)\d3dcompiler_43.dll" />
        <File Source="$(var.EK_App.TargetDir)\d3dcompiler_46.dll" />
        <File Source="$(var.EK_App.TargetDir)\devtools_resources.pak" />
        <File Source="$(var.EK_App.TargetDir)\EK.BrowserSubprocess.exe" />
        <File Source="$(var.EK_App.TargetDir)\Mantin.Controls.Wpf.Notification.dll" />
        <File Source="$(var.EK_App.TargetDir)\Hardcodet.Wpf.TaskbarNotification.dll" />    
      
      </Component>

      <Component Id="ffmpeg" Guid="*">
        <File Source="$(var.EK_App.TargetDir)\ffmpegsumo.dll" />
      </Component>
      <Component Id="icudt" Guid="*">
          <File Source="$(var.EK_App.TargetDir)\icudt.dll" />
      </Component>
      <Component Id="IpcAnonPipeDll" Guid="*">      
         <File Source="$(var.EK_App.TargetDir)/IpcAnonPipe.dll" />
      </Component>
      <Component Id="libcef" Guid="*">
          <File Source="$(var.EK_App.TargetDir)\libcef.dll" />
      </Component>
      <Component Id="libEGL" Guid="*">
          <File Source="$(var.EK_App.TargetDir)\libEGL.dll" />
      </Component>
      <Component Id="libGLESv2" Guid="*">
          <File Source="$(var.EK_App.TargetDir)\libGLESv2.dll" />
      </Component>

      <Component Id="msvcp120" Guid="*">
        <File Source="$(var.EK_App.TargetDir)\msvcp120.dll" />
      </Component>
      <Component Id="msvcr120" Guid="*">
        <File Source="$(var.EK_App.TargetDir)\msvcr120.dll" />
      </Component>
      <Component Id="NetUtil" Guid="*">      
         <File Source="$(var.EK_App.TargetDir)/NetUtil.dll" />
      </Component>
      <Component Id="RoutingDll" Guid="*">      
         <File Source="$(var.EK_App.TargetDir)/Routing.dll" />
      </Component>
      <Component Id="vccorlib120" Guid="*">
        <File Source="$(var.EK_App.TargetDir)/vccorlib120.dll" />
      </Component>
      <Component Id="vpexIco" Guid="*">
          <File Source="$(var.EK_App.ProjectDir)\vpex.ico" />
      </Component>
      <!--
      <Component Id="XoKeyApi.dll" Guid="*">      
         <File Source="$(var.EK_App.TargetDir)/XoKeyApi.dll" />
      </Component>

      <Component Id="config" Guid="*">
          <File Source="$(var.EK_App.TargetDir)\XOkey_App.exe.config" />
      </Component>
      -->
		</ComponentGroup>
   </Fragment>
  <Fragment>
    <ComponentGroup Id="ResourceComponent" Directory="ResourcesFolder">
      <Component Id="LogoTransComponent" Guid="*">
        <File Source="$(var.EK_App.TargetDir)\Resources\logo_transparent.png" />
      </Component>

      <Component Id="WriteToRegistryGroup" Guid="{F7A8864B-4595-4029-B4CF-46DDB77D44BE}">
        <Condition>(VersionNT64 >= 602) OR (VersionNT >= 602)</Condition>
        <RegistryKey Root="HKLM"  Key="Software\Policies\Microsoft\Windows\WcmSvc\GroupPolicy"
            Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="fMinimizeConnections" Value="0" KeyPath="yes"/>
        </RegistryKey>
      </Component>
      <Component Id="WriteToRegistryLocal" Guid="{B5543560-5327-496D-8283-08993D0DF2BC}">
        <Condition>(VersionNT64 >= 602) OR (VersionNT >= 602)</Condition>
        <RegistryKey Root="HKLM"  Key="Software\Policies\Microsoft\Windows\WcmSvc\Local"
              Action="createAndRemoveOnUninstall">
        <RegistryValue Type="integer" Name="fMinimizeConnections" Value="0" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="localesComponent" Directory="localesFolder">
      <Component Id="enUsPakComponent" Guid="*">
        <File Source="$(var.EK_App.TargetDir)\locales\en-US.pak" /> 
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{053CE9D9-E983-4B76-A963-3BB1B6FD70A1}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="XOkey Host Application"
                  Description="x.o.ware XOkey Host Application"
                  Target="XOkey_App.exe"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Xoware\EK_App" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>