<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist" version="3.1650.1562-pre3" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net40" requireReinstallation="True" />
  <package id="Mantin.Controls.Wpf.Notification" version="2.3.3.0" targetFramework="net40" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.0.0" targetFramework="net40" />
  <package id="NBug" version="1.2.2" targetFramework="net40" />
</packages>