<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XOkey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XOkey_NetworkConfigTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE18761E1B28E7D400478FAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2EBF52191BE7E3007FACFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2EBF73191BE7E3007FACFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAFB9DB192E6FD6001EAE12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC098CE1926B29B009774E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC098E61926BB96009774E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC098F81926C147009774E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC0990F1926C94C009774E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC099281926CA07009774E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC0993B1926CDBD009774E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
