<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ExoKey USB Ethernet Driver" Language="1033" Version="1.0.0.0" Manufacturer="Xoware Inc." UpgradeCode="be1500a1-2200-4663-9ca0-079397b4d4d0">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ExoKey USB Ethernet Driver" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

      <CustomAction Id='Install_Driver' Execute='deferred' Directory='INSTALLFOLDER' Impersonate='no'
                      ExeCommand='"[INSTALLFOLDER]\DPInst.exe" /SW /SA /C' Return='ignore' />

    <CustomAction Id='UnInstall_Driver' Execute='deferred' Directory='INSTALLFOLDER' Impersonate='no'
                ExeCommand='"[INSTALLFOLDER]\DPInst.exe" /Q /U exokey.inf' Return='ignore' />

      <InstallExecuteSequence>
        <Custom  Action="Install_Driver" After="InstallFiles">NOT Installed</Custom>

        <Custom Action="UnInstall_Driver" Before="RemoveFiles">Installed</Custom>
  
      </InstallExecuteSequence>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="XoWareDir" Name="XoWare">				
          <Directory Id="INSTALLFOLDER" Name="ExoKey USB Ethernet Driver" />
        </Directory>
      </Directory>
		</Directory>
	</Fragment>
  <!--
  <Fragment>
    <UI>
      <BillboardAction Id="BillboardID1">
        <Billboard Id="Billb1" Feature="TestFeature">
        </Billboard>
      </BillboardAction>
    </UI>
  </Fragment>
   -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->

      <Component Id="DPInst_x32" Guid="*">
        <File Id="DPInst.exe_x32" Name="DPInst.exe"  Vital="yes" DiskId="1"  Source="x86\DPInst.exe" />
        <Condition>NOT VersionNT64</Condition>
      </Component>
      
      <Component Id="exokey_inf_x86" Guid="*">
        <File Id="exokey.inf_x86"  Name="exokey.inf" Vital="yes" DiskId="1"  Source="x86\exokey.inf" />
        <Condition>NOT VersionNT64</Condition>
      </Component>
      <Component Id="exokey_cat_x86" Guid="*">
        <File Id="exokey.cat_x86"  Name="exokeyx86.cat" Vital="yes" DiskId="1"  Source="x86\exokeyx86.cat" />
        <Condition>NOT VersionNT64</Condition>
      </Component>
      
      <Component Id="DPInst_x64" Guid="*">
        <File Id="DPInst.exe_x64" Name="DPInst.exe"  Vital="yes" DiskId="1"  Source="x64\DPInst.exe" />
        <Condition>VersionNT64</Condition>
      </Component>
      
      <Component Id="exokey_inf_x64" Guid="*">
        <File Id="exokey.inf_x64"  Name="exokey.inf" Vital="yes" DiskId="1"  Source="x64\exokey.inf" />
        <Condition>VersionNT64</Condition>
      </Component>
      <Component Id="exokey_cat_x64" Guid="*">
        <File Id="exokey.cat_x64"  Name="exokeyx64.cat" Vital="yes" DiskId="1"  Source="x64\exokeyx64.cat" />
        <Condition>VersionNT64</Condition>
      </Component>

    </ComponentGroup>
	</Fragment>

</Wix>